@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  * {
    @apply m-0;
  }

  html,
  body {
    @apply font-body h-full;
    /* enable it when using variable font: @apply font-body */
  }

  body {
    @apply leading-normal antialiased min-h-full transition-colors text-gray-900 bg-white;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block max-w-full;
  }

  /* Remove built-in form typography styles */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  /* Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  pre {
    white-space: pre-wrap;
    overflow-x: auto;
  }

  .root {
    @apply isolate;
  }
}

@layer utilities {
  .border-pretty {
    border-color: rgba(0, 0, 0, 0.08);
  }

  .shadow-pretty {
    @apply bg-clip-padding;
    box-shadow: 0px 1px 0px -1px rgba(0, 0, 0, 0.05), 0px 1px 1px -1px rgba(0, 0, 0, 0.05), 0px 1px 2px -1px rgba(0, 0, 0, 0.05), 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 3px 6px -3px rgba(0, 0, 0, 0.05);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* article main content */
.main-content {
  @apply max-w-full;  
}
@media (min-width: 830px) {
  .main-content {
    max-width: 789px;
  }
}

/* article toc */
.toc {
  @apply sticky top-12 pt-9 pb-8 pr-6 bg-gray-100 rounded-lg hidden xl:block mt-6;
  width: 272px;
  max-width: 272px;
}
.toc:not(:has(.toc-item)) {
  @apply invisible;
}
.toc-item-h2 {
  @apply py-1 pl-6 text-gray-700 text-sm font-medium;
}
.toc-item-h2:not(:first-child) {
  @apply mt-2;
}
.toc-level-2 {
  @apply mt-2 py-2 border-l-[2px] border-gray-100;
}
.toc-item-h3 {
  @apply py-1 pl-4 pr-2 text-gray-500 text-sm font-medium;
}
.toc-item-h3:not(:first-child) {
  @apply mt-1;
}
.toc-item-h4 {
  @apply hidden;
}